<div class="container-fluid">
    <h1>Editing Bug</h1>

    <%= render 'form', bug: @bug %>

    <%= link_to 'Show', @bug %> |
    <%= link_to 'Back', bugs_path %>
</div>

<%= javascript_pack_tag 'bugValidate', 'data-turbolinks-track': 'reload' %>
